.valign-wrapper h1 {
	margin: 0 auto;
	font-weight: 200;
	margin-top: 30px;
}

#header {
	background-color: #DDDDDD;
	height: auto;
}

.nav-wrapper {
	background-color:#0074D9;
}

footer.page-footer {
	background-color:#0074D9;
}

h2 {
	text-align:center;
	font-weight: 200;
}

.aboutme {
	height: 550px; 
	background-color: #eceff1;
}

.card {
	margin-top:100px;
	width: 30%;
	margin-left:5%;
}

.centering {
	display:flex;
	align-items:center;
	justify-content: center
}

h1 {
	text-align:center;
}

.projects ul {
	width: 50%;
	margin-top:100px;
	margin-bottom:100px;
}

.projects {
	background-color: #eceff1;
	display:flex;
	align-items:center;
	justify-content: center

}

.contact {
	background-color: #eceff1;
	height: 230px;

}

.chip {
	display:inline-block;
	width: auto;
	margin-top: 20px;
	margin-left: 30px;
}

.contact-wrapper {
	display:flex;
	align-items:center;
	justify-content: center;
	height: 200px;
}