.valign-wrapper h1 {
	margin: 0 auto;
	font-weight: 200;
	margin-top: 30px;
}

#header {
	background-color: #DDDDDD;
	height: auto;
}

.nav-wrapper {
	background-color:#0074D9;
}

footer.page-footer {
	background-color:#0074D9;
}

.container {
	margin-top:5%;
	height: 100px;
}

.container h2 {
	text-align:center;
	font-weight: 200;
}

.card {
	width: 30%;
	margin-left:10%;
}

.centering {
	display:flex;
	align-items:center;
	justify-content: center
}

h1 {
	text-align:center;

}
